#profile-container {
  position: absolute;
  border-radius: 10px;
  padding: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  background-color: aliceblue;
}

.profile-items {
  margin: 10px 0;
  display: flex;
  width: 420px;
  padding: 13px 10px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #ded2d9;
}

.logout {
  display: flex;
  width: 100%;
  padding: 0.8125rem 0.625rem 0.75rem 0.625rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.375rem;
  background: #012970;
  border: 0;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 800;
  margin-top: 10px;
}
