#login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 10px;
  padding: 30px;
  background-color: aliceblue;
}

.login-header {
  text-align: left;
}

.login-text {
  color: #525252;
  font-size: 2.25rem;
  font-weight: 700;
  margin: auto;
}

.login-slogan {
  color: #525252;
  font-size: 1rem;
  font-weight: 400;
  margin: auto 0 20px;
}

.login-form {
  text-align: left;
}

.login-label {
  color: var(--gray-3, #828282);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: block;
}

.login-input {
  margin: 10px 0;
  display: flex;
  width: 420px;
  padding: 13px 10px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #ded2d9;
}

.login-forgot {
  text-decoration: none;
  color: #012970;
}

.login-submit {
  display: flex;
  width: 100%;
  padding: 0.8125rem 0.625rem 0.75rem 0.625rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.375rem;
  background: #012970;
  border: 0;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 800;
  margin-top: 10px;
}

.register-redirect {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  position: absolute;
  bottom: 0;
  width: 99%;
  text-align: center;
  margin-bottom: 10px;
}

.register-redirect a {
  text-decoration: none;
  color: #012970;
}
